div.tooltip {
  position: absolute;
  text-align: center;
  padding: 5px;
  font: 12px sans-serif;
  background: white;
  border: 2px;
  border-style: solid;
  border-color: green;
  border-radius: 4px;
  pointer-events: none;
}
figure {
  font-family: monospace;
  font-weight: bold;
}
.exp-feature-order-selection {
  align: center;
}
text {
  font-family: monospace;
}

.expression-tooltip-table {
  margin: 0
}

.expression-tooltip-table tr th,
.expression-tooltip-table tr td {
  padding: 2px
}